body {
  padding-top: 50px;
}
/*
 *Cover
 */
html,
body {
  height: 100%;
}
.site-wrapper {
  display: table;
  width: 100%;
  height: 75%; /* For at least Firefox */
  min-height: 75%;
  background-image: url(img/bg1.jpg)
}
.inner {
  padding: 30px;
}
.jumbotron {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
