{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Checkout Items</h1>
    </div>

    {{ flash() }}

    <div class="well">
        <form class="form-horizontal" action="/checkout" method="post">
          <fieldset>
            <legend>Complete all fields</legend>
            <div class="form-group">
              <label for="inputBorrowerId" class="col-lg-2 control-label">Borrower (Card) ID</label>
              <div class="col-lg-10">
                <input class="form-control" name="borrowerId" id="inputBorrowerId" placeholder="" type="text">
              </div>
            </div>

            <div class="form-group">
              <label for="inputCallNumber" class="col-lg-2 control-label">Item Call Number</label>
              <div class="col-lg-10">
                <input class="form-control" name="callNumber" id="inputCallNumber" placeholder="" type="text">
              </div>
            </div>
            
            <div class="form-group">
              <label for="inputCopyNo" class="col-lg-2 control-label">Item Copy Number</label>
              <div class="col-lg-10">
                <input class="form-control" name="copyNo" id="inputcopyNo" placeholder="" type="text">
              </div>
            </div>  
            
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-success">Checkout</button>
                <button class="btn btn-default">Cancel</button>
              </div>
            </div>
          </fieldset>
        </form>
    </div>

    {% if results %}
    <div class="results">
        <div class="page-header">
            <h2>Checkout Receipt</h2>
        </div>

        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr class="success">
              <th>Title</th>
              <th>Call Number</th>
              <th>Due Date</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{result['title']}}</td>
              <td>{{result['callNumber']}}</td>
              <td>{{result['dueDate']}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('li.clerk').addClass('active');
});
</script>
{% endblock %}
