{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Overdue Items</h1>
    </div>

    {{ flash() }}

    {% if overdue %}
    <div class="results">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr class="success">
              <th>Title</th>
              <th>Call Number</th>
              <th>Copy Number</th>
              <th>Due Date</th>
            </tr>
          </thead>

          <tbody>
            {% for item in overdue %}
            <tr>
              <td>{{item['title']}}</td>
              <td>{{item['callNumber']}}</td>
              <td>{{item['copyNo']}}</td>
              <td>{{item['dueDate']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('li.clerk').addClass('active');
});
</script>
{% endblock %}
