{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Process Returned Items</h1>
    </div>

    {{ flash() }}

    <div class="well">
        <form class="form-horizontal" action="/returns" method="post">
          <fieldset>
            <legend>Complete all fields</legend>
            <div class="form-group">
              <label for="inputCallNumber" class="col-lg-2 control-label">Item Call Number</label>
              <div class="col-lg-10">
                <input class="form-control" name="callNumber" id="inputCallNumber" placeholder="" type="text">
              </div>
            </div>
            
            <div class="form-group">
              <label for="inputCopyNo" class="col-lg-2 control-label">Item Copy Number</label>
              <div class="col-lg-10">
                <input class="form-control" name="copyNo" id="inputCopyNo" placeholder="" type="text">
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-success">Process</button>
                <button class="btn btn-default">Cancel</button>
              </div>
            </div>
          </fieldset>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('li.clerk').addClass('active');
});
</script>
{% endblock %}
