{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Your Account</h1>
    </div>

    {{ flash() }}
    
    {% if borrower %}
      <div class="page-header">
          <h2>Personal Information</h2>
          <p>Your personal information.</p>
      </div>

      <div class="row">
          <div class="col-md-6">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <colgroup>
                    <col class="col-xs-4">
                    <col class="col-xs-8">
                  </colgroup>
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td>{{borrower.name}}</td>
                    </tr>
                    <tr>
                      <td>Borrower ID</td>
                      <td>{{borrower.bid}}</td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td>{{borrower.emailAddress}}</td>
                    </tr>
                    <tr>
                      <td>Password</td>
                      <td>********</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>

          <div class="col-md-6">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <colgroup>
                    <col class="col-xs-4">
                    <col class="col-xs-8">
                  </colgroup>
                  <tbody>
                    <tr>
                      <td>Membership Expiry Date</td>
                      <td>{{borrower.expiryDate}}</td>
                    </tr>
                    <tr>
                      <td>Mailing Address</td>
                      <td>{{borrower.address}}</td>
                    </tr>
                    <tr>
                      <td>Phone Number</td>
                      <td>{{borrower.phone}}</td>
                    </tr>
                    <tr>
                      <td>Sin or Student Number</td>
                      <td>{{borrower.sinOrStNo}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>

      <div class="page-header">
          <h2>Library Information</h2>
          <p>Information on your items.</p>
      </div>

      <ul id="myTabs" class="nav nav-tabs nav-justified" style="margin-bottom: 15px;">
          <li class="active"><a href="#checkedout" data-toggle="tab">Borrowed Items</a></li>
          <li class=""><a href="#overdue" data-toggle="tab">Overdue</a></li>
          <li class=""><a href="#holds" data-toggle="tab">Hold Requests</a></li>
          <li class=""><a href="#fines" data-toggle="tab">Fines</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="checkedout">
          <p>You have checked out these items:</p>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr class="success">
                <th>Borrow ID</th>
                <th>Call Number</th>
                <th>Title</th>
                <th>Author</th>
                <th>Out Date</th>
                <th>Expiry Date</th>
              </tr>
            </thead>
            <tbody>
              {% for item in borrowedItems %}
                <tr>
                  <td>{{item['borid']}}</td>
                  <td>{{item['callNumber']}}</td>
                  <td>{{item['title']}}</td>
                  <td>{{item['mainAuthor']}}</td>
                  <td>{{item['outDate']}}</td>
                  <td>{{item['expiryDate']}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="overdue">
          <p>These items are overdue, please return them to the library:</p>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr class="success">
                <th>Borrow ID</th>
                <th>Call Number</th>
                <th>Title</th>
                <th>Author</th>
                <th>Out Date</th>
                <th>Expiry Date</th>
              </tr>
            </thead>
            <tbody>
              {% for item in borrowedItems %}
                {% if item['expired'] %}
                  <tr>
                    <td>{{item['borid']}}</td>
                    <td>{{item['callNumber']}}</td>
                    <td>{{item['title']}}</td>
                    <td>{{item['mainAuthor']}}</td>
                    <td>{{item['outDate']}}</td>
                    <td>{{item['expiryDate']}}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="holds">
          <p>You have requested these items to be held:</p>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr class="success">
                <th>Hold ID</th>
                <th>Call Number</th>
                <th>Title</th>
                <th>Issued Date</th>
                <th>Cancel</th>
              </tr>
            </thead>
            <tbody>
              {% for hr in holdRequests %}
                <tr>
                  <td>{{hr['hid']}}</td>
                  <td>{{hr['callNumber']}}</td>
                  <td>{{hr['title']}}</td>
                  <td>{{hr['issuedDate']}}</td>
                  {# TODO: not implemented yet #}
                  <td><a href="/borrower/{{hr['hid']}}/holdcancel" class="btn btn-success btn-xs">Cancel Hold</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="fines">
          <p>Please pay the following fines:</p>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr class="success">
                <th>Fine ID</th>
                <th>Issued Date</th>
                <th>Amount</th>
                <th>Pay</th>
              </tr>
            </thead>
            <tbody>
              {% for fine in fines %}
                <tr>
                  <td>{{fine['fid']}}</td>
                  <td>{{fine['issuedDate']}}</td>
                  <td>{{fine['amount']}}</td>
                  {# TODO: not implemented yet #}
                  <td><a href="/borrower/{{fine['fid']}}/fines" class="btn btn-success btn-xs">Cancel Hold</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
  {% endif %}
{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function () {
        $('li.borrower').addClass('active');
        $('.alert-link').click(function(e) {
            $('#myTabs a[href="' + $(this).attr('href') + '"]').tab('show');
        });
    });
    </script>
{% endblock %}
