{% extends 'base.html' %}

{% block cover %}
<div class="container">
  <div class="page-header">
    <h1>Pay Outstanding Fines</h1>
  </div>

  {{ flash() }}

  <div class="results">
    <form class="form-horizontal" action="" method="post">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr class="success">
            <th>Fine ID</th>
            <th>Fine Issued Date</th>
            <th>Amount</th>
            <th>Pay</th>
          </tr>
        </thead>

        <tbody>
          {% if fines %}
          {% for fine in fines %}
            <tr>
              <td>{{fine['fid']}}</td>
              <td>{{fine['issuedDate']}}</td>
              <td>{{fine['amount']}}</td>
              <td><button type="submit" class="btn btn-success btn-xs" name="{{fine['fid']}}">Pay Fine</button></td>
            </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </form>
  </div>
</div>
{% endblock %}
