<html>
    <head>
        {% if title %}
        <title>{{title}} - No Reservations</title>
        {% else %}
        <title>No Reservations</title>
        {% endif %}
    </head>
    <body>
        <div>No Reservations: <a href="/index">Home</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>
