<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{title}} - No Reservations</title>
        {% else %}
        <title>No Reservations</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootswatch.min.css" rel="stylesheet">
        <link href="/static/css/local-fixes.css" rel="stylesheet">
    </head>
    <body>

    {% include 'include/nav.html' %}
    {% from 'include/macros.html' import flash with context %}

    {% block cover %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <div class="container">
        <hr>

        <div id="footer">
            <p>&copy; No Reservations 2014</p>
        </div>
    </div><!-- /container -->

    <script src="/static/js/jquery-2.1.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/local.js"></script>
    {% block scripts %}
    {% endblock %}

    </body>
</html>
